[buildout]
develop = .
versions = versions
parts = test
        checker


[versions]
distribute = 0.7.3
setuptools = 39.1.0
zc.buildout = 2.11.3
zc.recipe.egg = 2.0.3
p01.buildouthttp = 1.0.1
ZConfig = 3.1.0
WebTest = 2.0.29
WebOb = 1.4
btrees = 4.4.0
BeautifulSoup = 3.2.1
beautifulsoup4 = 4.6.0


[test]
recipe = zc.recipe.testrunner
eggs = j01.form [test]


[checker]
recipe = p01.recipe.setup:importchecker
path = src/j01/form
