name: test

on:
  push:
    branches: [ main ]
    paths:
      - 'src/**'
      - '!src/pydantic_settings_yaml/__init__.py'
      - '.github/workflows/test.yaml'
      - '.test_requirements.txt'
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: Test on Python ${{ matrix.python_version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python_version: ['3.7', '3.8', '3.9']
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python_version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python_version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r test_requirements.txt
    - name: Test with pytest
      run: |
        python -m pytest