[tool.poetry]
name = "auto_corr_feature_selection"
version = "0.1.0"
description = "Automatically select the most relevant features based on correlation."
authors = ["Andres Di Giovanni <andresdigiovanni@gmail.com>"]
readme = "README.md"
packages = [{include = "auto_corr_feature_selection"}]

[tool.poetry.dependencies]
python = ">=3.8"
pandas = "^2.0.3"
numpy = "^1.25.1"
scikit-learn = "^1.3.0"

[tool.poetry.dev-dependencies]
pytest = "^7.2.0"
pre-commit = "^2.20.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 88
include = '\.pyi?$'
exclude = '''
/(
    \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | _build
  | buck-out
  | build
  | dist
  | docs
)/
'''
