table.weekplan {
  width: 100%;
  table-layout: fixed;
}

table.weekplan td {
  background-color: #1481b8;
  color: white;
}

table.weekplan td, table.weekplan th {
  text-align: center;
}

table.weekplan td:empty {
  background-color: white;
}

table.weekplan td:first-child {
  background-color: white;
  color: grey;
}

table.weekplan a {
  font-weight:bold;
  color: white;
  text-decoration: underline;
}