[Parapheur]
username =
password =
server =

[RecupArchives]
folder = /tmp/archives
page_size = 500
purge = false
download = true
# Fichier XML avec les informations de l'archive (true|false)
metadata_xml = true
type_filter = *
subtype_filter = *
waiting_days = 0

[Special]
## Liste des metadata (nom court) à récupérer (format CSV)
metas_list =
## valeur par défaut pour les métadonnées sans valeur de metas_list (format CSV)
metas_default_values =
## Arborescence par métadonnée ou mots clés réservés (format CSV), par défaut: type/soustype
# mots-clés réservés:  PH_soustype = soustype, PH_type = type
metas_tree =
# CSV généré lors de chaque exécution (true|false)
csv_daily_report = false
## log au format CSV (true|false)
csv_log_report = false